<div ng-include="'partials/navbar'"></div> 
  <div class="home-info"> 
    <h1>METAMORPHOSIS OF A RING</h1>
    <p>
      DARK TO SPARK is a story by <a ng-href="http://www.evadoralamm.dk" class="link" target="blank">Eva Dora Lamm</a>. It is about a ring that rises from the cement and becomes a precious ornament – The inspiration came from the metamorphosis of the caterpillar that becomes a dragonfly. 
    </p>
    <a class="btn btn-info btn-lg" href="/story">Experience the story</a>
  </div>
  <div class="ring-wrap" style="height:40%; margin-bottom=10%">
      <img class="ring" src="images/front.png">
  </div>

<!--
<div class="ring-wrap">
  <img class="ring" src="images/front.png">
</div>
-->